.nav {
	float: right;
}

.navbar {
	margin-bottom: 0px;
}

main {
	height: 800px;
	background: url(img/fon.webp) no-repeat;
	background-size: 100%;
	color: white;
}
h1 {
	text-align: center;
	margin-top: 0;
	padding-top: 250px;
	font-family: Marker Felt, fantasy;
	font-size: 70px;
}

main{
    overflow: auto;
    width: 100%;
}
main hr {
	height: 5px;
	width: 320px;
	background-color: #876647;
}
main p {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}

main button {
	height: 30px;
	width: 120px;
	border-color: #B23F15;
	background-image: none; 
    background-color: transparent;
    color: #111;
    position: absolute;
    top:70%;
    right: 45%;
}
.title hr {
	height: 5px;
	width: 80px;
	background-color: #876647;
}
section .title {
	width: 500px;
	height: 150px;
	text-align:center;
	margin:0 auto;
}

section .title .area {
	width: 1000px;
	float: left;
}
section .part {
	width: 250px;
	text-align: center;
	float: left;
}

section .part:last-child {
	float: right;
}

section .part:nth-child(2) {
	margin-left: 50px;
}

section .part:nth-child(3) {
	margin-left: 50px;
}